*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-style: italic;
	font-family: sans-serif;

}
body{
	
	background: url('iw-21.png');
	margin: 0px 0px;
}

.menu-bar{
	display: none;
	background-color: grey;
	border: 3px solid black;
	border-radius: 30px;
	margin: 30px 0px;
	font-size: 27px; 


}
.m{
	background-color: grey;
	border: 3px solid black;
	border-radius: 30px;
	margin: 30px 0px;
	font-size: 28px;
	text-align: center;
	font-weight: bolder;
	padding: 15px; 
	cursor: pointer;
	color: black;

}
.m .fa{
	margin-right: 18px;
	color: white;
	font-style: italic;
	font-size: 28px;
}
.menu-bar ul{

	width: 100%;
	padding:10px;
	list-style: none;
	color: red;

}


.menu-bar ul li{
	
	width: 120px;
	margin-right: 10px;
	margin-left: 10px; 
	

}



.menu-bar .fa{
	margin-right: 18px;
	color: red;
	font-style: italic;
	font-size: 27px;


	
}
.menu-bar ul li a{
	
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: lighter;
}

.menu-bar ul{
		display: inline-block;
		text-align: center;
	}
	.menu-bar ul li{
		
		display: inline-block;
		text-align: center;
	}


#logo-1{
	margin: 5px;
	border: 5px solid black;
	height: 250px;
	width: 260px;
	position: relative;
	animation-name: first;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	
}
#logo-2{
	margin: 5px;
	border: 5px solid black;
	height: 250px;
	width: 260px;
	position: relative;
	animation-name: second;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	
	
}
#logo-3{
	margin: 5px;
	border: 5px solid black;
	height: 250px;
	width: 260px;
	position: relative;
	animation-name: third;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	
}
.logo-back{

	
	margin: 20px 0px;
	text-align: center;
	border: 3px solid grey;
	border-radius: 30px;
	background-image: url('ib-1.png');
	position: relative;
	animation-delay: 3s;
	animation-name: back;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
		
}

@keyframes first{

	0% {left: -1000px;}
	100% {left: 0px;}
}

@keyframes third{

	0% {right: -1000px;}
	100% {right: 0px;}
}

@keyframes second{

	0% {opacity:  0;}
	100% {opacity: 1;}
}


@keyframes back{

	0% { background-image: url('ib-1.png');opacity: 0; }
	100% {background-image: url('ib-2.png'); opacity: 1}
}

.gallery{
	
	border: 1px solid #ccc;
	border-radius: 25px;
	box-shadow: 5px 5px 5px 5px grey;
	margin: 10px 3px;
	text-align: center;
}

.i{
	margin-top: 15px;
	 box-shadow: 10px 10px 5px #ccc;
	  border-radius:25px;
}
.drop-content{
	margin-top: 0px;
	
}
.drop-content h5{
	color: white ;
	padding: 5px;
	margin-top: 5px;
	font-weight: lighter;
	text-align: center;
	text-decoration: none;
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 35px;
}
.drop-content h2{
	margin: 10px 0px;
	color: #3AF220 ;
	font-size: 28px;
}

.des{
	border: 3px solid grey;
	text-align: center;
	color: yellow;
	font-weight: bolder;
	background: purple  ;
	border-radius: 25px;
	padding: 15px;
	font-weight: bolder;
	font-size: 28px;
	
}
.drop-content{
	display: none;
	border: 5px solid grey;
	border-radius: 30px;
 background-color: rgba(0,0,0,0.8);
  width: 100%;
  min-height: 300px;
  
   
}

.i{

	text-align: center;
	margin-bottom: 20px;
}


.info {
			border: 3px solid grey;
			text-align: center;
			color: yellow;
			font-weight: bolder;
			font-size: 28px;
			background: purple  ;
			border-radius: 25px;
			padding: 15px ;
			cursor: pointer;
			
		}

.show{display: block;}

.hide{display: none;}

.back1{
  background-image: url('p49.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
  }
	
.back2{
	background-image: url('p5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
  
}

.back3{
	background-image: url('p48.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}

.back56{
	background-image: url('p50.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;

	
}
.back4{
	background-image: url('p40.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back5{
	background-image: url('p51.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back6{
	background-image: url('p23.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back7{
	background-image: url('p28.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back8{
	background-image: url('p52.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back9{
	background-image: url('p22.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back10{
	background-image: url('p53.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back11{
	background-image: url('p54.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back12{
	background-image: url('p42.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back13{
	background-image: url('p55.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back14{
	background-image: url('p56.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back15{
	background-image: url('p57.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back16{
	background-image: url('p58.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back17{
	background-image: url('p59.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back18{
	background-image: url('p60.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back19{
	background-image: url('p9.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back20{
	background-image: url('p6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back21{
	background-image: url('p61.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back22{
	background-image: url('p62.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back23{
	background-image: url('p63.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back24{
	background-image: url('p36.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back25{
	background-image: url('p64.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back26{
	background-image: url('p15.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back27{
	background-image: url('p31.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back28{
	background-image: url('p16.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back29{
	background-image: url('p65.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}

.back30{
	background-image: url('p66.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back31{
	background-image: url('p20.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back32{
	background-image: url('p24.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back33{
	background-image: url('p27.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back34{
	background-image: url('p30.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back35{
	background-image: url('p67.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back36{
	background-image: url('p33.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back37{
	background-image: url('p3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back38{
	background-image: url('p47.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back39{
	background-image: url('p68.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back40{
	background-image: url('p17.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back41{
	background-image: url('p69.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back42{
	background-image: url('p70.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}

.back43{
	background-image: url('p11.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back44{
	background-image: url('p12.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back45{
	background-image: url('p14.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back46{
	background-image: url('p71.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back47{
	background-image: url('p13.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back48{
	background-image: url('p72.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back49{
	background-image: url('p73.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back50{
	background-image: url('p74.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back51{
	background-image: url('p75.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back52{
	background-image: url('p41.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back53{
	background-image: url('p76.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back54{
	background-image: url('p77.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}
.back55{
	background-image: url('p78.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 304px 200px;
	
}


a{
	text-decoration: none;
}

.responsive{
	
	position: relative;
	margin-top: 30px;
	transition-property: all;
	transition-duration: 1s;
	
}


@media screen and (max-width: 1480px)
{
	.responsive{
		width: 100%;
		margin: 30px 0px;
	}
	 img{
		height: 200px;
		width: 280px;
		
	}
	.drop-content{

	height: 100%;
	
}
	
}

h1{
	text-align: center;
	background-color: darkblue;
	color: yellow;
	border: 3px solid grey;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 30px;
	font-weight: bolder;
	font-style: italic;
	margin-top: 30px;
	
}

.f-1{
	background-color: rgba(0,0,0,0.8);
	background-repeat: no-repeat;
	background-position: center;
	margin: 20px 0px;
	border: 4px solid grey;
	border-radius: 30px;
	
}
h6{
	color: white;
	text-align: center;
	font-size: 24px;
	margin: 30px 10px ;
	word-spacing: 2px;
	letter-spacing: 1px;

}
.f-1 .fa{
	margin: 0px 10px;
	color: red;
}

.f-1 h2{
	color:#3AF220;
	text-align: center;
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: bold;
	word-spacing: 1px;
	letter-spacing: 1px;
	position: relative;
	
	
}
.moreinfo{
	background: darkblue;
	border: 3px solid grey;
	margin-top: 30px;
	border-radius: 25px;
}
.moreinfo h2{
	
	color: yellow;
	text-align: center;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 30px;
	padding: 20px;
}
.moreinfo h2 a{
	text-decoration: none;
	color: white;
}



